body{
    background-color: #eff4ef;
} 
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
nav {
    position: relative;
    display: flex;
    width: 84%;
    color: #000;
    font-weight: bold;
    margin: auto;
    padding: 20px  30px;
    justify-content: space-between;
    background-color:#eff4ef;;
   align-items: center;
   font-size: 25px;
font-style: italic;
   
   
}
.Logo span{
color:orange;
}
.Menu a{

    color: #000;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    
   
}
.Menu a:hover{
    color: red;
}
.container{
    padding-left: 8%;
    padding-top: 13%;
}
.container h1{
font-size: 50px;
color: #212121;
margin-bottom: 20px;
}
span {
    color: orange;
}
.container p{
    color: #555;
    line-height: 22px;
    margin-bottom: 20px;
}
.container a{
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    background-color: #000;
    display: inline-block;
    padding: 12px;
}
.container a :hover{
 background: transparent;
color: red;
}
.image{
    mix-blend-mode: multiply;
    width: 55%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;
    top: 12px;
}
